input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


#toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}


@media (max-width: 576px) {
    .responsive, .responsive a {
        display: block !important;
        color: white;
    }
    .responsive {
        position: absolute;
        top: 100%;
        right: 0%;
        width: 300px;
        background-color: skyblue;
        margin: 0;
        padding: 15px;
    }
    
}

.hidden {
    display: none;
}